<div id="screen">

    <div class="loading" [ngClass]="{'loading': true, 'loadingActive': loadingService.loading$ | async}">
        <div class="loading-spinner"></div>
    </div>

    <div class="loginCard" [ngClass]="{'loginCard': true, 'haveAccountCard': enterAccountActive , 'createAccountCard': createAccountActive}">
        <div class="titleLogin" *ngIf="!enterAccountActive">
            <p class="loginText">Login</p>
        </div>
        <div class="titleHaveAccount" *ngIf="enterAccountActive">
            <p class="createText">Entre com sua conta.</p>
        </div>
        <div class="titleCreateAccount" *ngIf="createAccountActive">
            <p class="createText">Crie sua conta.</p>
        </div>
        <div class="errorEmailNotExists" *ngIf="errorEmailNotExists"> 
            <p class="emailErrorText">Erro: não existe uma conta com esse email.</p>
        </div>
        <div class="errorEmailExists" *ngIf="errorEmailExists"> 
            <p class="emailErrorText">Erro: este email já foi cadastrado.</p>
        </div>
        <div class="errorBackend" *ngIf="errorBackend"> 
            <p class="backendErrorText">Erro no sistema, tente novamente mais tarde.</p>
        </div>
        <div class="errorPassword" *ngIf="errorPass"> 
            <p class="errorPasswordText">Erro: senha errada.</p>
        </div>
        <div class="inputEmpty" *ngIf="inputEmpty"> 
            <p class="inputEmptyText">Por favor. Preencha todos os campos</p>
        </div>
        <div class="emailValid" *ngIf="emailValid"> 
            <p class="isEmailValidText">Por favor. Utilize um email válido.</p>
        </div>


        


        <button class="haveAccount" (click)="toggleEnterAccount()" *ngIf="displayButtonsInLogin">
            Ja tenho uma conta.
        </button>
        <button class="createAccount" (click)="toggleCreateAccount()" *ngIf="displayButtonsInLogin">
            Criar uma conta.
        </button>

        <div class="nameCreateCardDisable"  [ngClass]="{'nameCreateCardDisable': true, 'nameCreateCardActive': createAccountActive}">
            <div class="nameCreateIndicator">
                <p>Nome</p>
            </div>
            <input [(ngModel)]="app.user.name" spellcheck="false" class="inputName">
        </div>
        <div class="emailEnterCardDisable"  [ngClass]="{'emailEnterCardDisable': true, 'emailEnterCardActive': enterAccountActive, 'emailCreateCardActive': createAccountActive}">
            <div class="emailEnterIndicator">
                <p>Email</p>
            </div>
            <input [(ngModel)]="app.user.email" spellcheck="false" class="inputEmail">
        </div>
        <div class="passEnterCardDisable"  [ngClass]="{'passEnterCardDisable': true, 'passEnterCardActive': enterAccountActive, 'passCreateCardActive':createAccountActive}">
            <div class="passIndicator">
                <p>Senha</p>
            </div>
            <input [(ngModel)]="app.user.password" class="inputPass" type="password">
        </div>
        
        <div class="buttonsDisable" [ngClass]="{'buttonsDisable': true, 'buttonsActive': displayComebackButton}">
            <button class="backButtonDisable" (click)="comeback()" [ngClass]="{'backButtonDisable': !displayComebackButton, 'backButtonActive': displayComebackButton}">
                <- Voltar
            </button>
            <button class="enterButtonDisable" (click)="enter()" [ngClass]="{'enterButtonDisable': !enterAccountActive, 'enterButtonActive': enterAccountActive}">
                Entrar ->
            </button>
            <button class="createButtonDisable" (click)="create()" [ngClass]="{'createButtonDisable': !createAccountActive, 'createButtonActive': createAccountActive}">
                Criar conta ->
            </button>

        </div>

        <div class="enterSucessDisable" [ngClass]="{'enterSucessDisable': true, 'enterSucessActive': enterSucess}">Bem vindo, {{app.user.name}}!</div>
        <div class="createSucessDisable" [ngClass]="{'createSucessDisable': true, 'createSucessActive': createSucess}">Conta criada com sucesso!</div>


    </div>

</div>
