
#mainFrame{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
}

#area{
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

    display: grid;
    grid-template-columns: 250px 1fr;

    background-color: rgb(76, 117, 253);
    min-height: 100%;

}

#area #board{
    background-color: brown;
    margin: 10px;
    border-style: solid;
    border-width: 3px;
}

#sideBar{
    background-color: bisque;
    position: relative;
    display: flex;
    flex-direction: column; /* Garante que o botão fique no fundo */
    justify-content: space-between;
    align-items: center;
    
}

#sideBar .menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    background-color: rgb(255, 255, 0);
}

#sideBar .menu .topBar{
    display: flex;
    flex-direction: row;
    min-height: 65px;
    max-height: 65px;
    height: 65px;
    background-color: rgb(0, 255, 191);
}

#sideBar .menu .options{
    height: 100%;
    background-color: aliceblue;
}



#sideBar .addButton{
    position: relative;
    bottom: 0;
    background-color: blue;
    height: 120px;
    width: 100px;
    align-content: center;
    border-style: none;
}

#sideBar .addButton:hover{
    background-color: rgb(69, 69, 254);
}


.menu .changePass{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: coral;
    height: 40px;
    width: 100%;
    border-style: none;
}

.menu .changePass:hover{
    border-style: solid;
}

.menu .topBar .expandOptions{
    position: relative;
    margin-bottom: 3px;
    left: 83%;
    align-self: end;
    height: 25px;
    width: 25px;
    border-radius: 0px;
    border-style: none;
}

.menu .topBar .expandOptions.active{
    position: absolute;
    margin-bottom: 3px;
    top: 170px;
    left: 83%;
    align-self: end;
    height: 25px;
    width: 25px;
    border-radius: 0px;
    border-style: none;
    background-color: rgb(247, 39, 39);
}
