
#mainFrame{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
}

#area{
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

    display: grid;
    grid-template-columns: 250px 1fr;

    background-color: rgba(76, 117, 253, 0);
    min-height: 100%;

}

#area #board{
    background-color: #F6F3FF;
    margin: 10px;
    border-style: solid;
    border-color: #775EBB;
    border-width: 3px;
}

#sideBar{
    background-color: rgba(255, 228, 196, 0);
    position: relative;
    display: flex;
    flex-direction: column; /* Garante que o botão fique no fundo */
    justify-content: space-between;
    align-items: center;
    
}

#sideBar .menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 385px;
    background-color: rgba(255, 255, 0, 0);
}

#sideBar .menu .topBar{
    display: flex;
    flex-direction: row;
    min-height: 65px;
    max-height: 65px;
    height: 65px;
    background-color: #8B6EDD;
    padding: 0px;
    text-align: center;
    justify-content: center;


    .account{
        position: absolute;
        font-family: "Instrument Sans", system-ui;
        font-optical-sizing: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        font-style: normal;
        font-size: 19.5px;
        color: #FFFFFF;
    }

    .accountIcon{
        position: absolute;
        margin-top: 18px;
        margin-right: 200px;
        height: 24px;
        width: 24px;
    }
}

#sideBar .menu .options{
    height: 0%;
    background-color: #B49AFF;
    transition: height 0.25s ease-in-out;
}

#sideBar .menu .options.activeOptions{
    height: 135px;
    background-color: #B49AFF;
}

.changePassCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 165px;
    background-color: #B49AFF;

    


    .titleChangePassCard{
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0;
        top: 0;
        height: 50px;
        width: 100%;
        background-color: #8B6EDD;

        .textChangePassCard{
            margin: 0px;
            font-family: "Instrument Sans", system-ui;
            font-optical-sizing: auto;
            -webkit-font-smoothing: antialiased;
            font-weight: 500;
            font-style: normal;
            font-size: 17.5px;
            color: #FFFFFF;
        }

        .closeChangePassCard{
            display: flex;
            cursor: pointer;
            align-content: center;
            justify-content: center;
            position: absolute;
            height: 28px;
            width: 28px;
            margin-left: 200px;
            border: none;
            background-color: #FF5050;

            .closeChangePassImg{
                margin-top: 4px;
                height: 18px;
                width: 18px;
            }
        }

        .closeChangePassCard:hover{
            background-color: #e03b3b;
        }
    }

    .inputChangePassword{
        cursor: text;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #987DE8;
        border: none;
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        overflow: auto;
        outline: none;
        margin-top:13px;
        font-family: "Instrument Sans";
        font-optical-sizing: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        color: #ffffff;

        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out ;
    }

    .inputChangePassword::placeholder{
        text-align: center;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.342);

        transition: color 0.25s ease-in-out ;
    }

    .inputChangePassword:focus{
        position: relative;
        color: #292929;
        background-color: #F6F3FF;
        height: 40px;
        width: 100%;
    }

    .inputChangePassword:focus::placeholder{
        text-align: center;
        font-size: 15px;
        color: #775ebb9e;
    }


    .saveNewPassword{
        cursor: pointer;
        position: absolute;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        bottom: 0;
        margin-bottom: 13px;
        width: 90%;
        height: 30px;
        border: none;
        background-color: #292929;

        transition: background-color 0.25s ease-in-out;

        .savePassword{
            margin: 0px;
            font-family: "Instrument Sans", system-ui;
            font-optical-sizing: auto;
            -webkit-font-smoothing: antialiased;
            font-weight: 500;
            font-style: normal;
            font-size: 16.5px;
            color: #C0FF6F;

            transition: color 0.25s ease-in-out;
        }

    }

    .saveNewPassword:hover{
        background-color: #C0FF6F;
        .savePassword{
            color: #272727;
        }
    }

    .senhaSalvaCard{
        bottom: 0;
        position: absolute;
        height: 0px;
        width: 100%;
        overflow: hidden;

        transition: height 0.20s ease-in-out;

        .senhaSalva{
            margin: 0px;
            font-family: "Instrument Sans", system-ui;
            font-optical-sizing: auto;
            -webkit-font-smoothing: antialiased;
            font-weight: 500;
            font-style: normal;
            font-size: 18.5px;
            color: #272727;
        }
    }
    
    .senhaSalvaCardActive{
        bottom: 0;
        position: absolute;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #C0FF6F;
        height: 115px;
        width: 100%;
    }

}




#sideBar .addButton{
    cursor: pointer;
    position: relative;
    background-color: #775EBB;
    margin-bottom: 20px;
    height: 60px;
    width: 60px;
    align-content: center;
    border-style: none;
    justify-content: center;

    .addIcon{
        height: 44px;
        width: 44px;
        margin-bottom: 0px;

        transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
    }
    
    transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
}

#sideBar .addButton:hover{
    height: 80px;
    width: 80px;
    background-color: #B49AFF;

    .addIcon{
        height: 66px;
        width: 66px;
        margin-bottom: 0px;
    }
}


.menu .changePass{
    overflow: hidden;
    opacity: 0;
    position: relative;
    box-sizing: border-box;
    padding: 0px;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #775EBB;
    height: 0px;
    width: 100%;
    border: 0px none;

    .passText{
        margin: 0px;
        font-family: "Instrument Sans", system-ui;
        font-optical-sizing: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        font-style: normal;
        font-size: 16.5px;
        color: #FFFFFF;
    }

    transition: opacity 0.25s ease-in-out, height 0.15s ease-in-out;

}

.menu .changePass.activeChangePass{
    opacity: 1;
    position: relative;
    box-sizing: border-box;
    padding: 0px;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #775EBB;
    height: 40px;
    width: 100%;
    border: 0px none;

    .passText{
        margin: 0px;
        font-family: "Instrument Sans", system-ui;
        font-optical-sizing: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        font-style: normal;
        font-size: 16.5px;
        color: #FFFFFF;
    }

}


.menu .changePass:hover{
    justify-content: center;
    height: 40px;
    width: 100%;
    padding: 0px;
    text-align: center;
    background-color: #F6F3FF;
    
    .passText{
        color: #775EBB;
        margin: 0px;
        font-family: "Instrument Sans", system-ui;
        font-optical-sizing: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        font-style: normal;
        font-size: 16.5px;
    }

    
}


.menu .topBar .expandOptions{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 200px;
    position: absolute;
    top: 25px;
    align-self: end;
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 0px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    transition: rotate 0.45s ease-in-out, top 0.15s ease-in-out;

}

.menu .topBar .expandOptions .arrowDown{
    height: 32px;
    width: 32px;
}

.menu .topBar .expandOptions .arrowDown.active{
    height: 32px;
    width: 32px;
}

.menu .topBar .expandOptions.active{
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 170px;
    align-self: end;
    height: 25px;
    width: 25px;
    border-radius: 0px;
    border-style: none;
    background-color: rgba(247, 39, 39, 0);
    rotate: 540deg;
}
