
#mainFrame{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
}

#area{
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

    display: grid;
    grid-template-columns: 250px 1fr;

    background-color: rgb(76, 117, 253);
    min-height: 100%;

}

#area #board{
    background-color: brown;
    margin: 10px;
    border-style: solid;
    border-width: 3px;
}

#sideBar{
    background-color: bisque;
    position: relative;
    display: flex;
    flex-direction: column; /* Garante que o botão fique no fundo */
    justify-content: space-between;
    align-items: center;
    
}

#sideBar .menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    background-color: rgba(255, 255, 0, 0);
}

#sideBar .menu .topBar{
    display: flex;
    flex-direction: row;
    min-height: 65px;
    max-height: 65px;
    height: 65px;
    background-color: #8B6EDD;
    padding: 0px;
    text-align: center;
    justify-content: center;


    .account{
        position: absolute;
        font-family: "Inter", system-ui;
        font-optical-sizing: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        font-style: normal;
        font-size: 19.5px;
        color: #FFFFFF;
    }

    .accountIcon{
        position: absolute;
        margin-top: 18px;
        margin-right: 200px;
        height: 24px;
        width: 24px;
    }
}

#sideBar .menu .options{
    height: 100%;
    background-color: #B49AFF;
}



#sideBar .addButton{
    position: relative;
    bottom: 0;
    background-color: #775EBB;
    height: 120px;
    width: 90px;
    align-content: center;
    border-style: none;
    justify-content: center;

    .addIcon{
        height: 64px;
        width: 64px;
        margin-bottom: 25px;
    }
}

#sideBar .addButton:hover{
    background-color: #B49AFF;
}


.menu .changePass{
    box-sizing: border-box;
    padding: 0px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #775EBB;
    height: 40px;
    width: 100%;
    border: 0px none;

    .passText{
        margin: 0px;
        font-family: "Inter", system-ui;
        font-optical-sizing: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        font-style: normal;
        font-size: 16.5px;
        color: #FFFFFF;
    }

}

.menu .changePass:hover{
    justify-content: center;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0px;
    text-align: center;
    border: 2px solid;
    
    .passText{
        margin: 0px;
        font-family: "Inter", system-ui;
        font-optical-sizing: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        font-style: normal;
        font-size: 16.5px;
    }

    
}


.menu .topBar .expandOptions{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 200px;
    position: relative;
    margin-bottom: 10px;
    align-self: end;
    height: 25px;
    width: 25px;
    border-radius: 0px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
}

.menu .topBar .expandOptions .arrowDown{
    height: 32px;
    width: 32px;
}

.menu .topBar .expandOptions .arrowDown.active{
    height: 32px;
    width: 32px;
    rotate: 90deg;
}

.menu .topBar .expandOptions.active{
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 0px;
    top: 170px;
    align-self: end;
    height: 25px;
    width: 25px;
    border-radius: 0px;
    border-style: none;
    background-color: rgba(247, 39, 39, 0);
    rotate: 180deg;
}
