
<div id="mainFrame">
    <div id="area">
        <div id="sideBar">
            <div class="menu">
                <div class="topBar">
                    <button class="expandOptions" (click)="showOptions()"  [ngClass]="{'expandOptions': true, 'active': options}">

                    </button>
                
                
                </div>
                <div class="options" *ngIf="options">
                    <button class="changePass">

                    </button>
                
                
                </div>
            </div>
        
            <button class="addButton">

            </button>
        </div>
        <div id="board">
            
        </div>
    </div>
</div>
